body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    border: none;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho{
    width: 70%;
    height: 8%;
    margin:auto;
    background-color: #0C0C0C;
}

.meio{
   margin: auto;
   padding: 0px;
   border: 0px; 
   height: 84%;
   width: 70%;
   background-color: blueviolet;
}
.animacao{
    width: 20%;
    height: 84%;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.login{
    width: 20%;
    height: 84%;
    background-color: antiquewhite;
    background-color: chartreuse;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.login h1{
    margin: 0px;
}

.rodape{
        width: 70%;
        height: 8%;
        margin: auto;
        background-color: #0C0C0C;
}